body
{
    background: #585858;
    color: #fff;
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
}

.menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    background: rgb(255, 255, 255);
    height: auto;
    padding: 10px;
}

.logo
{
    /* border: 1px solid red; */
    height: 75px;
    width: 300px;
}

.logo img
{
    height: 100%;
    width: 100%;
}

.link
{
    margin: 10px;
    /* display: flex; */
    padding: 30px auto;
    /* border: 1px solid rgb(1, 204, 255); */
}

.link a
{
    font-weight: bold;
    margin: auto 10px;
    text-decoration: none;
    color: #000;
}


 .hero
{
    background: url("/img/hero-banner-1.jpg") no-repeat center center;
    background-size: cover;
    height: 90vh;
    /* align-items: center; */
    position: relative;
}


.intro
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    height: auto;
    width: auto;
    background:rgba(122, 82, 82, 0.542);
    padding: 10px;
    align-items: center;
    
    /* text-align: center; */
}

.intro .i1
{
    width: 400px;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    background:crimson;

}


.intro .i2
{
    margin: 15px;
    font-size: 16px;
    background: cadetblue;
    width: 400px;

}

.title span
{
    color: rgb(28, 232, 28);
}

.intro .details
{
    line-height: 25px;
}


/* ----------------------------------------------------- */


.green
{
    padding: 10px 40px;
    height: auto;
    background: #8ac900;
}

.green p
{
    text-align: center;
    /* width: auto; */
}


/* ----------------------------------------------------- */


.services
{
    height: 80vh;
    text-align: center;
}

.services h1
{
    margin-top: 50px;
    font-size: 2.5rem;
}

.srv-list
{
    padding: 30px;
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 350px 350px 350px 350px;
    /* grid-column-gap: 30px; */
    grid-row-gap: 30px;
    justify-content: center;
}

.srv-list .one
{
    background: url("/img/hero-banner.jpg") no-repeat center center;
    opacity: 0.6;
    background-size: cover;
    /* background: red; */
}

.srv-list .two
{
    background: url("/img/hero-banner-2.jpg") no-repeat center center;
    opacity: 0.7;
    background-size: cover;
    /* background: khaki; */
}

.srv-list .three
{
    background: url("/img/hero-banner-4.jpg") no-repeat center center;
    opacity: 0.5;
    background-size: cover;
}
.srv-list .four
{
    background: url("/img/hero-banner-3.jpg") no-repeat center center;
    opacity: 0.9;
    background-size: cover;
}


/* ----------------------------------------------------- */


.about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    background: slategrey
}

.about .a1
{
    background: midnightblue;
}

.about h1
{
    margin-top: 50px;
    font-size: 2.5rem;
}

.a2
{
    height: 500px;
    min-width: 500px;
    background: url("/img/hero-banner-3.jpg") no-repeat center center;
    opacity: 0.9;
    background-size: cover;

}